@use "../abstract/index" as *;

on {
  background: $background;
}

.nav {
  display: flex;
  justify-content: space-between;
  color: white;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 2rem 6rem;
  font-family: $font-header;
  z-index: 20;
  transition: all 0.6s;

    @include media(600px){
      padding: 2rem 4rem;
    }


  &__logo {
    font-size: 3rem;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    overflow: hidden;

    @include media (800px){
      & {
        font-size: 1.4rem;
      }
    }
  }

  li {
    display: inline;
    padding: 0 3rem;
    font-family: $font-text;
  }

  &__actions {
    display: flex;
    align-items: center;


    .bi-search {
      font-size: 2rem;
      padding-right: 1rem;
    }

    a {
      position: relative;
      transition: all 0.3s;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   background: black;
      //   transition: all .4s ease-in;
      //   z-index: -1;
      //   transform: translateX(-100%);
      //   border-radius: 2rem;
      //   font-size: 1.6rem;
      //   display: block;
        
      // }
  
      // &:hover::before {
      //   transform: translateX(0);
      // }
  
      // &:hover {
      //   // color: $orange;
      // }

      @include media (800px){
        display: none;
      }
    }
  }

  .menu-btn {
    display: none;
    font-size: 3rem;
  }

  @include media (1200px){
    .nav__links {
      display: none;
    }

    .menu-btn {
      display: block;
      font-size: 3rem;
      margin-left: 2rem;
    }
  }
}

.overlay {
  height: 0;
  overflow: hidden;
}

@include media (1200px){
  .overlay {
    position: fixed;
    width: 100vw;
    height: 0;
    background-color: black;
    z-index: 40 ;
    overflow: hidden;
    // pointer-events: none;

    .close-btn {
      font-size: 3rem;
      text-align: right;
      color: white;
      padding-right: 4rem;
      padding-top: 4rem;
    }

    .nav__links {
      font-family: $font-header;
      margin-top: 4rem;

      li {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      a {
        text-decoration: none;
        color: $orange;
      }
    }

    .btn--connect{
      display: inline-block;
      font-family: $font-header;
      font-size: 3rem;
      margin: 4rem;
    }
  }

  .overlay2 {
    background-color: $orange;
    z-index: 35;
  }
}

.navSticky {
  background-color: rgba(2, 8, 23, 0.923);
  padding: 2rem 4rem;

  @include media(1200px){
    &{
      padding: 2rem 3rem;
    }
  }
}

.hero {
  // height: 80rem;
  background: rgb(9,19,93);
  background: linear-gradient(15deg, rgba(9,19,93,1) 4%, rgba(78,8,43,1) 45%, rgba(131,2,30,1) 64%, rgba(195,89,28,1) 98%, rgba(208,91,25,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15rem;
  padding-bottom: 12rem;

  
  &__content {
    // flex: 0 0 50%;
  }

  &__content--text {
    flex: 0 0 50%;
  }

  h1 {
    font-size: 9rem;
    font-family: $font-header;
    color: white;
    max-width: 10ch;
  }

  .hero-p {
  }

  p {
    color: white;
    font-family: $font-text;
    font-size: 1.7rem;
    line-height: 1.6;
    max-width: 50rem;
  }

  &__content__btns {
    margin-top: 4rem;

    a {
      font-size: 1.8rem;
      margin-right: 2rem;
    }

    .bi {
      margin-right: 1rem;
    }
  }

  &__content--image {
    text-align: center;
    display: flex;
    margin-left: 6rem;
    flex: 0 0 50%;

    .image {
      margin-right: 2rem;
      @include media (1200px){
        &{
          margin-right: 0;
        }
      }
    }
   
    img {
      width: 100%;
      border-radius: 2rem;
      margin-right: 4rem;
    }
  }

  &__content--stat {
    width: 2rem;
  }

  .stat {
    display: flex;

    p {
      font-size: 5rem;
      font-family: $font-header;
      padding: 0;
      line-height: 1;
      // margin-bottom: 2rem;
    }
  }

  .stat-name {
    font-size: 1.8rem;
    font-family: $font-header;
    text-align: left;
    margin-bottom: 4rem;
    color: $white;
  }

  @include media(1200px){
    h1 {
      font-size: 6rem;
    }

    .hero__content--image {
      margin-left: 2rem;

      img {
        margin-right: 2rem;
        width: 94%;

        @include media (800px){
          &{
            margin-right: 0;
            width: 100%;
          }
        }
      }
    }
  }

  @include media(1000px){
    &{
      display: block;
      text-align: center;
      // padding-top: 8rem;
      padding-bottom: 6rem;
    }

    h1 {
      font-size: 5rem;
      max-width: 30ch;
    }

    .hero-p {
      margin: 0;
      max-width: none;
      font-size: 1.6rem;
    }

    .hero__content__btns {
      margin-bottom: 4rem;
      display: flex;
      justify-content: space-around;

      a {
        // margin-right: 0;
        font-size: 1.4rem;
      }
    }

    .hero__content--image {
      display: block;
      margin-left: auto;
    }

    .hero__content--stat {
      display: flex;
      margin-top: 4rem;
      justify-content: space-between;
      width: 100%;

      p {
        font-size: 4rem;
      }
    }
  }
}
// body {
//   @include tablet{
//     display: none;
//   }

// }